extends ../layout.pug

block content
  h1 #{title}
    a.ui.right.floated.button(href="/items/new") Submit new peice of gear
  
  .ui.divided.relaxed.items
    each item in items
      .item
        .ui.small.image
          img(src=item.image, alt="#{item.name}")
        .middle.aligned.content
          .header #{item.name} 
          .header.right.floated
            .ui.mini.image
              img(src=item.brand.logo, alt="#{item.brand.name}")
          .meta
            span.price $#{item.cost} |
            span.weight #{item.weight} grams
          .description #{item.description}
          .extra
            a.ui.right.floated.primary.button(href=item.url) View Details
              i.right.chevron.icon
            a.ui.label(href=item.brand.url) #{item.brand.name}
            a.ui.label(href=item.category.url) #{item.category.name}