extends ../layout.pug

block content
  h1 #{title}

  form.ui.form(action="/items" method="post")
    .ui.grid
      .six.wide.column
        .field
          label(for="name") Name
          input#name.form-control(type="text" placeholder="Name of Gear" name="name" required="true" value=(undefined==item ? '' : item.name))
        .fields
          .field.twelve.wide
            label(for="category") Category
            select#category.form-control(type="text" placeholder="Choose type of gear" name="category" required="true")
              - categories.sort(function(a,b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? - 1 : (textA > TextB) ? 1 : 0;});
              for category in categories
                if item
                  option(value=category._id selected=(category._id.toString()==item.category ? 'selected' : false)) #{category.name}
                else
                  option(value=category._id) #{category.name}
          .field.twelve.wide
            label(for="brand") Brand
            select#brand.form-control(type="text" placeholder="Choose the gear's brand" name="brand" required="true")
              - brands.sort(function(a,b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? - 1 : (textA > textB) ? 1 : 0;});
              for brand in brands
                if item
                  option(value=brand._id selected=(brand._id.toString()==item.brand ? "selected" : false)) #{brand.name}
                else
                  option(value=brand._id) #{brand.name}
        .fields
          .field
            label(for="cost") Price:
            input#cost.form-control(type="number" placeholder="price in USD" name="cost" min="0.01" step="0.01" required="true" value=(undefined==item ? '' : item.cost))
          .field
            label(for="weight") Weight:
            input#weight.form-control(type="number" placeholder="weight in grams" name="weight" min="1" step="1" required="true" value=(undefined==item ? '' : item.weight))
      .ten.wide.column
        .field
          label(for="description") Description:
          textarea#description.form-control(type="textarea" placeholder="description" name="description" rows="5" required="true")=(undefined==item ? '' : item.description)
        button.ui.submit.button.right.floated(type="submit") Create

  if errors
    ul
      for error in errors
        li!= error.msg