extends ../layout.pug

block content
  h1.ui.header #{title}
  span.ui.center.align.header #{item.name}
  
  .ui.card
    .image
      img(src="https://images.unsplash.com/photo-1555580399-49e780f216b7?ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80", alt="#{item.name}")
    .content
      .header #{item.name}
      .meta
        span #{item.brand.name}
        a.right.floated(href=item.url) View Item
      .description #{item.description}
    .extra.content
      span.right.floated #{item.weight} grams
      span $#{item.cost}

