extends ../layout.pug

block content
  h1.ui.header #{title} #{item.name}
    a.ui.right.floated.button.red(href=item.url+"/delete") Delete Item
    a.ui.right.floated.button.green(href=item.url+"/edit") Update Item

  .ui.card
    .image
      img(src=item.image, alt="#{item.name}")
    .content
      .header #{item.name}
      .meta
        span #{item.brand.name}
        a.right.floated(href=item.url) View Item
      .description #{item.description}
    .extra.content
      span.right.floated #{item.weight} grams
      span $#{item.cost}
      p ($#{item.costByGram} per gram)

