extends ../layout.pug

block content
  h1 #{title}
    .ui.tiny.image.right.floated
      img(src=brand.logo, alt="#{brand.name}")
    a.ui.button.right.floated.red(href=brand.url+"/delete") Delete Brand
    a.ui.button.right.floated.green(href=brand.url+"/edit") Edit Brand

  p
  .ui.divided.relaxed.items
    each item in items
      .item
        .ui.small.image
          img(src=item.image, alt="#{item.name}")
        .middle.aligned.content
          .header #{item.name}
          .meta
            span.price $#{item.cost} |
            span.weight #{item.weight} grams
          .description #{item.description}
          .extra
            a.ui.right.floated.primary.button(href=item.url) View Details
              i.right.chevron.icon
            a.ui.right.floated.button.inverted.secondary(href=item.category.url) View all #{item.category.name}
            .ui.label Lightweight!